[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "themes/hugo-easy-gallery"]
	path = themes/hugo-easy-gallery
	url = https://github.com/Darthagnon/hugo-easy-gallery.git
