{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  {{ .Content }}

<form name="contact" action="/thank-you/" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact" />
    <!-- Text input-->
    <div>
        <label for="Name"></label>
        <div>
            <input id="contact-form-name" name="Name" type="text" placeholder="Naam" required="" autocomplete="off">
        </div>
    </div>
    <!-- Text input-->
    <div>
        <label for="Email"></label>
        <div >
            <input id="contact-form-email" name="Email" type="email" placeholder="Email" required="" autocomplete="off">
        </div>
    </div>
    <!-- Text input-->
    <div>
        <label for="Subject"></label>
        <div>
            <input id="contact-form-subject" name="Subject" type="text" placeholder="onderwerp" required="" autocomplete="off">
        </div>
    </div>
    <!-- Textarea -->
    <div>
        <label for=""></label>
        <textarea id="contact-form-message" name="Message" placeholder="tik hier je bericht" rows="8"></textarea>
    </div>
    <!-- Button -->
    <div>
        <button type="submit" value="Submit" id="Form-submit">Verstuur</button>
    </div>
	</div>
</form>


{{- end }}
