{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  {{ .Content }}

<form name="contact" class="contact-form width-normal" action="/thank-you/" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact" />
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="Name"></label>
        <div class="col-md-4">
            <input id="contact-form-name" name="Name" type="text" placeholder="Naam" class="form-control input-md" required="" autocomplete="off">
        </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="Email"></label>
        <div class="col-md-4">
            <input id="contact-form-email" name="Email" type="email" placeholder="Email" class="form-control input-md" required="" autocomplete="off">
        </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="Subject"></label>
        <div class="col-md-4">
            <input id="contact-form-subject" name="Subject" type="text" placeholder="onderwerp" class="form-control input-md" required="" autocomplete="off">
        </div>
    </div>
    <!-- Textarea -->
    <div class="form-group">
        <label class="col-md-4 control-label" for=""></label>
        <textarea class="form-control" id="contact-form-message" name="Message" placeholder="tik hier je bericht" rows="8"></textarea>
    </div>
    <!-- Button -->
    <div class="form-group">
        <button type="submit" value="Submit" id="Form-submit">Verstuur</button>
    </div>
	</div>
</form>

<div class="container" >
    <form name="contact" action="/bedankt/" method="POST" data-netlify="true">
      <input type="hidden" name="form-name" value="contact" />
      <!-- Text input-->
      <div class="row">
        <div class="col-25">
          <label for="fname">Naam</label>
        </div>
        <div class="col-75">
          <input type="text" id="name" name="name" placeholder="Naam" required="" autocomplete="off">
        </div>
      </div>
      <!-- Text input-->
      <div class="row">
        <div class="col-25">
          <label for="lname">e-mail adres</label>
        </div>
        <div class="col-75">
          <input type="email" placeholder="Email" id="lname" name="email" required="" autocomplete="off">
        </div>
      </div>
      <!-- Text input-->
      <div class="row">
        <div class="col-25">
          <label for="lname">Onderwerp</label>
        </div>
        <div class="col-75">
          <input id="contact-form-subject" name="Subject" type="text" placeholder="onderwerp" required="" autocomplete="off">
        </div>
      </div>
      <!-- Text area-->
      <div class="row">
        <div class="col-25">
          <label for="subject">je bericht</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>

      <!-- Button -->
      <div class="row">
        <input type="submit" value="Verstuur">
      </div>
    </form>
  </div>


{{- end }}
